body{
    background-color: #E5E5E5;
}
.chat-window{
    flex: 4;
    margin-left: 20px;
}
.message-meta{
    display: flex;
    justify-content: center;
}
.chat-header{
    background-color: white;
}